@font-face {
    font-family: 'digital-7regular';
    src: url('digital-7.regular-webfont.woff2') format('woff2'),
         url('digital-7.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#clock {
    font-family: 'digital-7regular', serif;
    font-size: 90px;
    color: red;
}

input[type="time"] {
    width: 110px;
}

span {
    font-weight: bold;
}